body {
  background: Linear-gradient(0deg,#1F8C4E,#30D979);
}

.indice1,.indice2 {
  margin: 5px;
  padding: 20px;
  background-color: #145932;
  font-size: 20px;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 5px;
}

.teste {
  display: block;
}

.meu-nome {
  font-family: monospace;
  font-size: 30px;
}

.sobre-eu {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

.nacionalidade {
  font-size: 17px;
}

.habilidade-principal {
  font-size: 24px;
}

.habilidade-foco {
  font-size: 22px;
}

.habilidade-paciencia {
  font-size: 18px;
}

.habilidade-empatia {
  font-size: 14px;
}
