body {
  background-color: #1F8C4E;
}

.indice {
  font-size: 20px;
}

.nome {
  font-family: monospace;
  font-size: 30px;
}

.descricao {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

.nacionalidade {
  font-size: 17px;
}

.habilidade-principal {
  font-size: 24px;
}

.foco {
  font-size: 20px;
}
